Source: picberry
Section: main
Priority: optional
Maintainer: root <ulysse.vautier@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://github.com/Rob-Orb/picberry

Package: picberry
Architecture: armhf
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Pic Programmer on Raspberry Pi
 This binary gives your the power to program a Microchip PIC
