Source: picberry
Maintainer: Ulysse Vautier <ulysse.vautier@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.1.r
Priority: optional
Section: base

Package: picberry
Architecture: armhf
Priority: optional
Section: base
Description: Pic Programmer on Raspberry Pi 
 This binary gives your the power to program a Microchip PIC
